@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

/** global **/

body {
	margin:0px auto;
	padding:0;
	background: rgb(99, 99, 99);
	font-family: "Source Sans Pro","sans-serif";
	font-size: 1.0em;
	color:#666;
}
* {
	margin:0;
	padding:0;
}


/** element defaults **/
code, blockquote {
	display:block;
	border-left:5px solid #ddd;
	padding:10px;
	margin-bottom:20px;
}
blockquote p {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0;
	height: 1%;
}
p {
	line-height:2.0em;
	margin-bottom:20px;
}
a {
	color:#6FAB4F;
}
a:hover {
	color:#000;
}
a:focus {
	outline:none;
}
a.button { 
    background-color: #80B763;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 22px;
    font-size: 0.8em;
    letter-spacing: 0.25px;
    text-decoration: none;
    text-transform: uppercase;
}

a.button-reversed { 
    background-color: #333;
}

a.button:hover {
	background-color: #669D48;
}

a.button-reversed:hover {
	background-color: #222;
}
fieldset {
	display:block;
	border:none;
	border-top:1px solid #e0e0e0;
}
fieldset legend {
	font-weight:bold;
	padding-right:10px;
	color:#999;
}
fieldset form {
	padding-top:15px;
}
fieldset p label {
	float:left;
	width:150px;
	font-family: "Source Sans Pro","sans-serif";
}
fieldset form input, fieldset form select, fieldset form textarea {
	padding:5px;
	color:#333333;
	font-size:13px;
	font-family: "Source Sans Pro","sans-serif";
	border:1px solid #ddd;
}
fieldset form input.formbutton {
border:none;
    background-color: #80B763;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 22px;
    font-size: 0.8em;
    letter-spacing: 0.25px;
    text-decoration: none;
    text-transform: uppercase;


}
h1 {
	font-size:2.4em;
}
h2 {
	color:#2f2f2f;
	font-size:1.8em;
	font-weight:bold;
	padding:0 0 5px;
	margin:0;
}
h3 {
	color:#80B763;
	font-size:1.6em;
	padding-bottom:10px;
}
h4 {
	padding-bottom:10px;
	font-size:1.4em;
	color:#000;
}
h5 {
	padding-bottom:10px;
	font-size:1.2em;
	color:#666666;
}
ul, ol {
	margin:0 0 35px 35px;
}
li {
	padding-bottom:5px;
}


/** wrapper **/
div#wrapper {
	margin:0px auto;
	padding:0;
}

/** header **/
header {
	padding:30px 17px 30px;
	margin:0 auto;
}
header h1 { 
	text-align: right;
}

header h1 a,
header h1 a:hover,
header h1 a:visited {
	color: #fff;
	font-size: 1em;
	text-decoration: none;
	letter-spacing:-2px;
}

header h2 {
	color:#C4DDB6;
	text-align: right;
	font-size: 0.8em;
	font-weight: normal;
	padding-bottom:0;
	letter-spacing:0;
}


/** body **/
section#body {
	background: #fff;
	width: 97%
}


/** content+sidebar styles **/
section#content {
	padding:20px;
	float: left;
	background-color: #fff;
	display: block;
	width: calc(100% - 200px);
	margin-left: 200px;
	min-height: 650px;
}

div#sidebar {
	background-color: #203A43;
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0;
    left: 0;
	display: block;
	float:left;
}

img#logo {
	width: 80px;
	height: 80px;
}

nav#mainnav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav#mainnav li {
	padding:0;
	border-bottom: 1px solid #2C5364;
	border-top: 1px solid #2C5364;
}
nav#mainnav li.selected-item  {
	border-bottom:none;
}
nav#mainnav li.selected-item a,
nav#mainnav li.selected-item a:hover {
	color:#2C5364;
	font-weight:bold;
	background: #fff;
}
nav#mainnav li a:hover {
	background:#2C5364;
	color: #fff;
	text-decoration:none;
}
nav#mainnav li a {
	color: #f0f0f0;
	display: block;
	padding: 15px 17px;
	text-align: right;
	font-weight:  bold;
	text-decoration: none;
}

div#topbar {
	background-color: #203A43;
	position: fixed;
	top: 0;
	width: 100%;
	display:none;
	transition: top 0.3s;
	height:50px
}

#topbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 17px;
	border-left: 1px solid #2C5364;
	border-right: 1px solid #2C5364;
}

#topbar a.selected-item {
	float: left;
	display: block;
	color: #203A43;
	background-color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 17px;
	border: none;
}
  
#topbar a:hover {
	background-color: #2C5364;
	color: white;
  }

article {
	/* height: 100%; */
    padding: 10px 10px 30px;
	font-size: 1.2em;
	/* border-bottom: 1px solid #eee; */
 }

article h2 {
    padding-bottom: 0;
	line-height: 1.1em;
	letter-spacing: -2px;
   	font-size: 2.5em;
}

article .article-info {
  	color: #C0c0c0;
	font-size: 0.92em;
	padding: 0px 0px 10px;
}

article .article-info a { 
	color: #ccc;
}

article .list-view{
	padding : 50px;
}

/** footer **/
footer {
	padding:20px 0px;
}

footer p {
	color:#666;
	margin:0;
	font-size:0.8em;
	text-align: center;
}
footer p a {
	color:#666;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid #999;
}
footer p a:hover { color:#333; border-bottom-color: #333; }


/** clear fix **/
.clear:after {
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clear {
	clear: both;
	display: inline-block;
}
.clear {
	display: block;
}

/* id syle */
div.listview{
	width: 95%;
	overflow: auto;
}

div#ul1{
	float: left;
	min-width: 400px;
}

div#ul2{
	margin-left: 420px;
	min-width: 400px;
}

div.listview ul{
	list-style-type: none;
	max-width: 400px;
}

div.listview li {
	padding: 10px;
	overflow: auto;
	border: 1px solid #eee;
	background-color: rgba(221, 221, 221, 0.774);
}

div.listview li img {
	float: left;
	margin: 0 15px 0 0;
	width: 70px;
	height: 70px;
}

div.listview li p {
	font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

div.listview li:hover {
	background: rgba(238, 238, 238, 0.384);
	cursor: pointer;
}

@media screen and (max-width: 900px) {

	body { 
		font-size: 0.9em;
		height: 100%
	}	


	.width { 
		width:auto; 
		padding-left: 10px; 
		padding-right: 10px; 
	}

	.column-left{ 
		margin:0px; 
	}

	header h1, header h2, nav#mainnav li a { 
		text-align:center; 
	}

	section#content {
		padding: 0 20px 20px 20px;
		float: none;
		background-color: #fff;
		display: block;
		width: 100%;
		margin-left: 0px;
		margin-top: 49px;
		height: calc(100% - 50px);
	}


	div#sidebar {
		display: none
	}

	div#topbar {
		display: block;
	}

}


@media screen and (max-width: 700px) {

	body { 
		font-size: 0.8em; 
	}

	header, header h1 a, header h1 a:hover { 
		text-align: center; 
		padding: 10px 0 0 0; 
		font-size: 1.1em; 
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
	}

	div#ul1{
		float: none;
	}
	
	div#ul2{
		margin-left: 0;
	}

}